<mat-card *ngFor="let article of articles" class="article-card">
  <mat-card-header>
    <div mat-card-avatar
         class="header-image"
         [ngStyle]="{'background-image':'url('+article.source.urlToLogo+')'}">
    </div>
    <mat-card-title-group>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>{{ article.source.name }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <img mat-card-image [src]="article.urlToImage" [alt]="article.title"/>
  <mat-card-content>
    <p>{{ article.description }}</p>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-button color="white"><mat-icon>comment</mat-icon> Comment</button>
    <button mat-button color="white"><mat-icon>share</mat-icon> Share</button>
    <a mat-button color="white" [href]="article.url" target="_blank">
      <mat-icon>visibility</mat-icon> More
    </a>
  </mat-card-actions>
</mat-card>
